.botones {
    width: 120px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #7cff68;
}

.texto {
    width: 174px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #7cff68;
}

html {
    background-color: #24d5ec;
}

.resultado {
    width: 360px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background-color: #7cff68;
}